@font-face {
    font-family: TropicalAsian;
    src: url(../fonts/TropicalAsianDEMO-Regular.ttf);
}
ul {
    padding: 0;
}
.menuItems {
    list-style: none;
}

.menuImgs{
    width: 100%;
}

.menu-item-title {
    font-family: TropicalAsian;
    color: rgb(255, 95, 95);
}