

.blc-logo {
    height: 200px;
    width: 200px;
    border: 1px solid red;

}

.nav-container {
    background-color: #ff5422;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn, .nav-logo{
    margin: 10px;
}

.nav-logo{
    width: 25%;
}

@media only screen and (max-width: 1024px){
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    .full-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #ff5422;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 100;
    }

    .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    
}
