.section-img {
    width: 100%;
}

.section-container {
    display: flex;
    justify-content: center;
}

.menu-btn {
    position: absolute;
    margin-top: 75%;
    background-color: #eea8263f;
    border: 2px solid #ffffff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.link-btn-container{
    position: absolute;
    margin-top: 75%;
}

.menu-btn:hover {
    border: 2px solid #ff5323;
    background-color: #ffb62f;
    color: #ff5323;
}

.section-h1{
    position: absolute;
    margin-top: 45%;
    text-align: center;
    font-family: Sriracha;
    color: white;
    font-size: 4vw;
    backdrop-filter: blur(5px);
    width: 80%;
    padding: 6px;
    border-radius: 12px;
    background-color: #ff470094;
    box-shadow: -1px 6px 7px 0px #0000006e;

}

@font-face {
    font-family: Sriracha;
    src: url(../fonts/Sriracha-Regular.ttf);
}

.about-us {
    text-align: center;
}

/* .location-section {
    height: 100vh;
} */
