@font-face {
    font-family: Norwester;
    src: url(../fonts/norwester.otf);
}

header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 80px;
    padding: 0 .5rem;
    background-color: #ff5422;
    color: white;
}
.home-logo{
    height: 60px;
    width: auto;
    padding-left: 0;
}
.navbar-title {
    margin-right: auto;
    padding: 12px 16px;
}

.navbar-item {
    padding: 16px 16px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    font-family: Norwester;
    transition: color .5s;
}
.navbar-item:hover {
    color: #ddc52a;
}


nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    /* margin-right: auto; */
}


header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1rem;

}

/* .blc-logo {
    height: 200px;
    width: 200px;
    border: 1px solid red;

}
.nav-logo-container{
    display: flex;
    justify-content: center;
}

.nav-items-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    background-color: #ff5422;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn, .nav-logo{
    margin: 10px;
}

.nav-logo{
   width: 20vw;
}
@media only screen and (min-width: 600px) {
    .nav-logo{
        width: 9vw;
    }
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1rem;
}

.exit-nav-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
} */

@media only screen and (max-width: 1024px){
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {

        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #ff5422;
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 100;
    }

    .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }


}
